<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<style>
    table, th, td {
        border: 1px solid black;
        padding: 1.2rem;
    }
</style>
</head>


<body>


    <div style="direction: ltr">


        <table>
            <thead>
                <th>#</th>
                <th>File Name</th>
                <th>Real Label</th>
                <th>PredicateFirst Time</th>
                <th>Predicate Second Time</th>
                <th>Best Predicate</th>
                <th>Error Parameter</th>
                <th>Answer Is True</th>
            </thead>

            <tr th:each="rs, iter : ${result}">
                <td th:text="${iter.index+1}"></td>
                <td th:if="${rs != null}" >
                    <a
                        th:if="${rs != null && (rs.errorPredicateFirst != -1 || rs.errorPredicateSecond != -1)}"
                        th:href="@{'/area/' + ${rs.fileName} }"
                        th:text="${rs.fileName}"
                        target="_blank"
                    >
                        Visit
                    </a>

                    <p th:if="${rs != null && rs.errorPredicateFirst == -1 && rs.errorPredicateSecond == -1}" th:text="${rs.fileName}"></p>
                </td>
                <td th:if="${rs != null}" th:text="${rs.label}"></td>
                <td th:if="${rs != null}" th:text="${rs.predicateFirstTime}"></td>
                <td th:if="${rs != null}" th:text="${rs.predicateSecondTime}"></td>

                <td th:if="${rs != null}" th:text="${rs.errorPredicateFirst == -1 ? rs.errorPredicateSecond : (rs.errorPredicateSecond == -1 ? rs.errorPredicateFirst : (rs.errorPredicateFirst < rs.errorPredicateSecond ? rs.errorPredicateFirst : rs.errorPredicateSecond) )  }"></td>

                <td th:if="${rs != null && rs.errorPredicateSecond == -1 && rs.errorPredicateFirst != -1 }" th:text="${rs.predicateFirstTime}"></td>
                <td th:if="${rs != null && rs.errorPredicateSecond != -1 && rs.errorPredicateFirst == -1 }" th:text="${rs.errorPredicateSecond}"></td>
                <td th:if="${rs != null && rs.errorPredicateSecond != -1 && rs.errorPredicateFirst != -1 }" th:text="${ rs.errorPredicateFirst < rs.errorPredicateSecond ? rs.errorPredicateFirst : rs.errorPredicateSecond}"></td>
                <td th:if="${rs != null && rs.errorPredicateSecond == -1 && rs.errorPredicateFirst == -1 }" th:text="${ rs.errorPredicateFirst < rs.errorPredicateSecond ? rs.errorPredicateFirst : rs.errorPredicateSecond}"></td>


                <td th:text="${rs != null && (rs.errorPredicateFirst == 0 || rs.errorPredicateSecond == 0) ? 'YES' : 'NO'}" ></td>



            </tr>


        </table>


        <table>
            <thead>
            <th>Success</th>
            <th>Failure</th>
            <th>ALL</th>
            </thead>

            <tr >
                <td th:text="${success}"></td>
                <td th:text="${failed}"></td>
                <td th:text="${success + failed}"></td>

            </tr>


        </table>

        </div>

    </div>

</body>
</html>